apiVersion: v1
kind: Service
metadata:
  name: {{ include "flux-operator.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "flux-operator.labels" . | nindent 4 }}
    {{- with .Values.commonLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.commonAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  ports:
    - port: 8080
      targetPort: http-metrics
      protocol: TCP
      name: http
    {{- if .Values.web.enabled }}
    - port: 9080
      targetPort: http-web
      protocol: TCP
      name: http-web
    {{- end }}
  selector:
    {{- include "flux-operator.selectorLabels" . | nindent 4 }}
