{{- if and .Values.web.config (not .Values.web.configSecretName) -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "flux-operator.fullname" . }}-web-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "flux-operator.labels" . | nindent 4 }}
    {{- with .Values.commonLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.commonAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
stringData:
  config.yaml: |
    apiVersion: web.fluxcd.controlplane.io/v1
    kind: Config
    spec:
      {{- toYaml .Values.web.config | nindent 6 }}
{{- end }}
