{{- if .Values.web.config.enabled -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "flux-operator.fullname" . }}-web-config
  labels:
    {{- include "flux-operator.labels" . | nindent 4 }}
    {{- with .Values.commonLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.commonAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
stringData:
  config.yaml: |
    apiVersion: web.fluxcd.controlplane.io/v1
    kind: Config
    spec:
      {{- toYaml .Values.web.config.spec | nindent 6 }}
{{- end }}
