name: release
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:
    inputs:
      tag:
        description: 'image tag prefix'
        default: 'rc'
        required: true

permissions:
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write # for creating the GitHub release.
      id-token: write # for creating OIDC tokens for signing.
      packages: write # for pushing and signing container images.
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: Setup Helm
        uses: azure/setup-helm@v4.3.1
      - name: Setup Cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
        with:
          cosign-release: v2.6.1 # TODO: remove after Flux 2.8 with support for cosign v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Package Helm charts
        run: make package
      - name: Push Helm charts
        run: make push
      - name: Sign Helm charts
        run: make sign
  quay:
    runs-on: ubuntu-latest
    needs:
      - release
    permissions:
      contents: read
      packages: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: Setup Flux CLI
        uses: fluxcd/flux2/action@main
      - name: Setup Crane CLI
        uses: imjasonh/setup-crane@v0.4
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Login to Quay
        uses: docker/login-action@v3.6.0
        with:
          registry: quay.io
          username: "fluxoperatordev+bot"
          password: ${{ secrets.QUAY_TOKEN }}
      - name: Sync to Quay
        run: make quay-sync
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
