name: update

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  generate:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Setup yq
        uses: fluxcd/pkg/actions/yq@main
      - name: Setup kubectl
        uses: fluxcd/pkg/actions/kubectl@main
      - name: Setup kubeconform
        uses: fluxcd/pkg/actions/kubeconform@main
      - name: Setup Helm
        uses: azure/setup-helm@v4.3.1
      - name: Setup Helm Docs
        uses: gabe565/setup-helm-docs-action@v1
      - run: make plugins generate manifests lint
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8.1.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: |
            Update charts
          committer: GitHub <noreply@github.com>
          signoff: true
          branch: update-charts
          title: Update charts
          body: |
            Update charts
